header {
    .header__full {
        width: 100%;
        display: flex;
        align-items: center;
        margin: auto;
        &__search {
            display: flex;
            align-items: center;
            height: 100%;
            position: relative;
            &.active {
                .menu__template {
                    width: 400px;
                }
            }
            .btn__seach {
                height: 100%;
                width: 60px;
                background-color: $grey;
                border: none;
                &:hover {
                    background-color: $light-blue;
                }
                &:active {
                    border: none;
                    outline: none;
                    background-color: $light-grey;
                }
                &:focus {
                    border: none;
                    outline: none;
                }
                .img_search {
                    padding: 1.3rem 0.7rem;
                }
            }
            .menu__template {
                background: $white;
                position: absolute;
                z-index: 1;
                left: 60px;
                overflow: hidden;
                width: 0px;
                height: 100%;
                display: flex;
                align-items: center;
                transition: 0.4s width;
                input {
                    margin-left: 53px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding-left: 30px;
                    width: 243px;
                    border: 1px solid $grey-dark;
                    &:focus {
                        outline: none;
                    }
                }
                .template__btn {
                    margin: 0;
                    width: 49px;
                    border: none;
                    height: 42px;
                    &:hover {
                        background: $light-blue;
                    }
                    &:focus {
                        outline: none;
                    }
                    &:active {
                        background: $grey-dark;
                    }
                }
            }
        }
        .menu_left {
            display: flex;
            align-items: center;
            flex: 0 0 55%;
            width: 55%;
            height: 68px;
            .template__text {
                display: flex;
                align-items: center;
                height: 100%;
                a {
                    height: 100%;
                    padding-right: 33px;
                    display: flex;
                    align-items: center;
                    color: $white;
                    font-size: 24px;
                    font-family: $Sans;
                    position: relative;
                    &:before {
                        z-index: -1;
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 1000px;
                        height: 100%;
                        background-color: $blue;
                    }
                    &:hover {
                        text-decoration: none;
                        color: $light-grey;
                    }
                }
            }
            .menu__item {
                padding-left: 27px;
                a {
                    font-family: $Sans;
                    font-weight: 500;
                    color: $grey-dark;
                    font-size: 18px;
                    padding-right: 28px;
                    &:hover {
                        text-decoration: none;
                        color: $black;
                    }
                }
            }
        }
        .menu__chapter {
            flex: 0 0 45%;
            width: 45%;
            height: auto;
            display: flex;
            a {
                height: 100%;
                display: flex;
                align-items: center;
                font-family: $Sans;
                font-weight: 500;
                color: $blue;
                font-size: 18px;
                margin-right: 33.6px;
                &:hover {
                    text-decoration: none;
                }
            }
            .dots {
                display: flex;
                align-items: center;
            }
            .fa-circle {
                color: $blue;
                font-size: 6px;
                padding: 0 2px;
            }
        }
    }
    .header_small {
        position: relative;
        padding: 8px 8px;
        .collaps__value {
            font-size: 23px;
            font-family: $Sans;
            color: $grey-dark;
            span {
                font-weight: bold;
                padding-top: 5px;
                color: $black;
            }
            a {
                color: $black;
                text-decoration: none;
            }
            .collapse {
                width: 100%;
            }
        }
        .menu_left {
            img {
                width: 170px;
                border-radius: 50%;
            }
        }
        .menu__item {
            padding: 18px 18px;
            justify-content: space-between;
            display: flex;
            .menu__icon {
                justify-content: end;
                margin: auto;
                align-items: center;
                flex: 0 0 45%;
                width: 45%;
                height: auto;
                display: flex;
            }
            .btns__main {
                display: flex;
                align-items: center;
            }
            .round {
                align-items: center;
                display: flex;
                position: relative;
                &__item {
                    border: none;
                    margin-right: 15px;
                    position: relative;
                    background: $azure;
                    width: 47px;
                    height: 47px;
                    border-radius: 29px;
                    &:focus {
                        outline: none;
                    }
                }
                &__icon {
                    position: absolute;
                    z-index: 2;
                    left: 21px;
                    top: 10px;
                }
            }
        }
    }
    .menu__open {
        width: 0;
        overflow: hidden;
        position: fixed;
        z-index: 3;
        background-color: $grey;
        transition: 0.4s width;
        &.active {
            width: 100%;
            top: 0;
            height: 100%;
        }
        // padding: 30px 30px;
        &__value {
            flex-direction: column;
            margin: auto;
            line-height: 3;
            display: flex;
            justify-content: center;
            a {
                color: $blue;
                font-size: 28px;
                font-weight: 500;
                font-family: $ProximaReg;
            }
        }
        &__img {
            img {
                padding-bottom: 317px;
                width: 170px;
                border-radius: 50%;
                margin-top: 60px;
            }
        }
        .inform {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: auto;
        }
        .bars {
            &__icon {
                top: 10px;
                .fa-times {
                    font-size: 22px;
                }
            }
            &__item {
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.bars {
    position: relative;
    display: flex;
    justify-content: flex-end;
    &__item {
        background: $grey;
        width: 42px;
        height: 42px;
        border-radius: 5px;
        position: relative;
        border: 1px solid $grey-dark;
        &:focus {
            outline: none;
        }
    }
    &__icon {
        position: absolute;
        top: 9px;
        left: 14px;
    }
    .bars__close {
        margin: 16px 39px;
    }
}

.hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: $blue;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-reveal:hover:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}