.slider {
    .slider__blog {
        .slider-cell {
            position: relative;
            display: block;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            .offer__sale_content {
                position: relative;
                .slider__fon {
                    position: absolute;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    left: 0;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
    .flickity-prev-next-button {
        top: 50.4%;
        width: 55px;
        height: 54px;
        border-radius: 0;
    }
}

.slider__text {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    &__img {
        padding-top: 217px;
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 27px;
    }
    &__text {
        padding-right: 15px;
        flex: 0 0 100%;
        line-height: 1.28;
        text-align: center;
        p {
            font-family: $Serif;
            font-weight: 500;
            font-size: 48px;
            color: $white;
        }
    }
    &__bg {
        padding-bottom: 39px;
        flex: 0 0 100%;
        padding-top: 219px;
        .text__bg {
            .text {
                padding: 6.8px 18px;
                background: $blue;
                font-size: 18px;
                font-family: $Sans;
                font-weight: 700;
                color: $white;
                &:hover {
                    background-color: $dark-blue;
                }
                &:active {
                    box-shadow: 1px 1px 20px 0px rgba(26, 84, 231, 1);
                }
            }
        }
        display: flex;
        justify-content: space-between;
    }
}

.text__data {
    display: flex;
    align-items: center;
    .data {
        padding-right: 9px;
        padding-right: 10px;
        font-size: 14px;
        font-family: $Sans;
        color: $white;
    }
    a {
        font-size: 14px;
        font-family: $Sans;
        border-bottom: 1px solid $blue;
        &:hover {
            text-decoration: none;
            font-style: italic;
            color: $white;
            font-weight: 500;
        }
    }
    .text__line {
        padding-right: 12px;
        border-left: 1.5px solid $white;
        height: 13px;
    }
}