.slider {
    .slider__blog {
        // position: relative;
    }
    .flickity-prev-next-button {
        top: 50%;
        width: 55px;
        height: 54px;
        border-radius: 0;
    }
}

.slider__text {
    // position: absolute;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    &__img {
        display: flex;
        justify-content: center;
        padding-bottom: 27px;
    }
    &__text {
        line-height: 1.28;
        text-align: center;
        padding-right: 10px;
        p {
            font-family: $Serif;
            font-weight: 500;
            font-size: 48px;
        }
    }
    &__bg {
        margin-left: -15px;
        margin-top: 13.6rem;
        .text__bg {
            padding: 6.8px 18px;
            background: $blue;
            font-size: 18px;
            font-family: $Sans;
            font-weight: 700;
            color: $white;
        }
        display: flex;
        justify-content: space-between;
        .text__data {
            margin-right: -15px;
            display: flex;
            align-items: center;
            .data {
                padding-right: 9px;
                padding-right: 10px;
                font-size: 14px;
                font-family: $Sans;
            }
            a {
                font-size: 14px;
                font-family: $Sans;
            }
            .text__line {
                padding-right: 12px;
                border-left: 1px solid red;
                height: 13px;
            }
        }
    }
}